<!DOCTYPE html>
<html lang="en">

<%- include('layout/head'); -%>
    <style>
        #header-background {
            height: 400px !important;
        }
        
        body {
            overflow: scroll;
        }
    </style>

    <head>
        <link rel="stylesheet" href="/css/anime.css">
    </head>

    <body>
        <%- include('./layout/header'); -%>

            <main>
                <div class="section_header">
                    <ul>
                        <li><a id="Manga" href="#manga">Manga</a> </li>
                        <li><a id="anime" href="#Anime">Anime</a> </li>
                    </ul>

                </div>
                <section id="Anime">
                    <% animeSearch.forEach(data=>{%>
                        <div class="data">
                            <img src="<%= data.image%>" alt="  <%= data.title %>">
                            <div class="details_content">
                                <h2>
                                    <%= data.title %>
                                </h2>
                                <hr>
                                <h6>
                                    <%= data.averageRating%>
                                </h6>

                                <form action="/details" method="POST">
                                    <input type="text" name="search" value="<%= data.id%>" style="visibility: hidden ">
                                    <br><button class="btndetails" type="submit">more details</button></form>
                            </div>
                        </div>
                        <%}) %>
                </section>
                <hr>


                <section id="manga">

                    <%manga.forEach(data=>{%>
                        <div class="data">
                            <img src="<%= data.image%>" alt="  <%= data.title %>">
                            <div class="details_content">
                                <h2>
                                    <%= data.title %>
                                </h2>
                                <hr>
                                <h6>
                                    <%= data.averageRating%>
                                </h6>
                                <form action="/details" method="POST">
                                    <input type="text" name="search2" value="<%= data.id%>" style="visibility: hidden ">
                                    <button class="btndetails " type="submit ">more details</button></form>
                            </div>
                        </div>
                        <%})%>
                </section>
            </main>
    </body>
    <%- include('./layout/footer'); -%>

</html>