<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <ul>
            <a href="#manga">
                <li>
                    Manga
                </li>
            </a>
        </ul>
    </header>
    <section id="Anime">
        <h2>Anime</h2>
        <% animeSearch.forEach(data=>{%>

            <h2>
                <%= data.title %>
            </h2>

            <h6>
                <%= data.averageRating%>
            </h6>
            <img src="<%= data.image%>" alt="  <%= data.title %>">
            <h6>
                <%= data.gener_old%>
            </h6>
            <form action="/details" method="POST">
                <input type="text" name="search" value="<%= data.id%>" style="visibility: hidden ">
                <br><button id="btnDetails" type="submit">more details</button></form>
            <%}) %>
    </section>
    <section id="manga"></section>
    <hr>
    <h2>Manga</h2>
    <ul>
        <a href="#Anime">
            <li>
                Anime
            </li>
        </a>
    </ul>

    <%manga.forEach(data=>{%>

        <h2>
            Title:
            <%= data.title %>
        </h2>

        <h6>
            Rating:
            <%= data.averageRating%>
        </h6>

        <img src="<%= data.cover_image%>" alt="  <%= data.title %>">
        <h6>
            <%= data.gener_old%>
        </h6>

        <form action="/details" method="POST">
            <input type="text" name="search2" value="<%= data.id%>" style="visibility: hidden ">
            <button id="btnDetails " type="submit ">more details</button></form>
        <%})%>
</body>

</html>