<%- include('layout/head'); -%>
    <%- include( 'layout/header'); -%>
    <style>
        #header-background {
            height: 400px !important;
        }
    </style>
       <section id="anime-details">
        <h3>FACTS & INFO</h3>
        <div class="mains-pargarph">
            <h1>Anime DETAILS</h1>
        </div>
        <div class="background">
    <%genreAnemi.forEach(val=>{%>
        <div id="anime-info">
            <div class="detail-anime-title">
               
                <h2>
                    Title:
                    <%=val.title%>
                </h2>
                <h2>Title in japanes:
                    <%=val.title_Japan%>
                </h2>
            </div>
      
            <div id="anime-full-info">
                <div class="detail-anime-image">
                    <img src="<%=val.image%>" alt="<%=val.title%>">
                </div>
                <div id="anime-first-detail">
                    <div class="rating">
                        <h6>
                            <b>Rating:</b> <%= val.averageRating%>
                        </h6>
                    </div>
                    <h6>
                        <b> Genres:</b>
                         <%val.genres.forEach((data,i)=>{%>
                             <span><%=data.name%>,</span>
                             <%})%>
                     </h6>
 
                 
                    <h6>
                        <b>Genre old: </b><%= val.gener_old%>
                    </h6>
                  
                    <h6>
                     <b>Status:</b>   <%= val.status%>
                    </h6>
                    <div class="start-date">
                        <h6><b>Start:</b>
                            <%var str =val.startDate%>
                            <%var res= str.substr(0, str.indexOf('T'));%>
                            <%=res%>
                        </h6>
                    
        
                        <h6>  <b>End:</b>
                            <%var str =val.endDate%>
                            <%var res= str.substr(0, str.indexOf('T'));%>
                            <%=res%>
                        </h6>
                    </div>
                    <h6>
                        <b>Episodes duration:</b>  <%= val.episodeLength%>
                      </h6>
                      <h6>
                        <b>Type:</b> <%= val.subtype%>
                     </h6>
        <h6>
            <b>
                Source:
            </b>
                
            <%=val.source%>
        </h6>
  
        <h6>
            <b>  Studios` name: </b>   
            <%val.studioName.forEach((data,i)=>{%>
                <span><%=data.name%>.</span>
                <%})%>
   
        </h6>
                   
            <div class="detail-anime-des">
              <p> <span><b>description</b></span>
                <%var str =val.synopsis%>
                <%var res= str.substr(0, str.indexOf('.'));%>
                <%=res%>.
                    </p>
</div>
</div>
<div class="anime-detail-video">
            <iframe width="420" height="315" src=" <%=val.youtubeVideoId%>">
            </iframe>
            </div>
       
        <!-- <a href="/"><button>Details</button></a> -->
    </div>
        <div class="background">
    <form action="/add" id="add" method="post">
        <input type="text" name="title" value="<%=val.title%>" style="display: none ">
        <input type="text" name="image" value="<%=val.image%>" style="display: none ">
        <input type="text" name="averageRating" value="<%=val.averageRating%>" style="display: none ">
        <input type="text" name="startDate" value="<%=val.startDate%>" style="display: none ">
        <input type="text" name="endDate" value="<%=val.endDate%>" style="display: none ">
        <input type="text" name="gener_old" value="<%=val.gener_old%>" style="display: none ">
        <input type="text" name="subtype" value="<%= val.subtype%>" style="display: none ">
        <input type="text" name="status" value="<%=val.status%>" style="display: none ">
        <input type="text" name="episodeCount" value="<%=val.episodeCount%>" style="display: none ">
        <input type="text" name="episodeLength" value="<%=val.episodeLength%>" style="display: none ">
        <input type="text" name="synopsis" value="<%=val.synopsis.substring(0,300)%>" style="display:none ">
        <input type="text" name="youtubeVideoId" value="<%= val.youtubeVideoId%>" style="display: none ">
        <br>
        <button type="submit" id="adfav"> Add to Fav</button>
    </form>
</div>
        <%})%>
</div>
</div>

<%- include('layout/footer'); -%>