<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%genreAnemi.forEach(val=>{%>
        <form action="/add" method="post">
            <input type="text" name="title" value="<%=genreAnemi.title%>" style="visibility: hidden ">
            <input type="text" name="image_url" value="<%=genreAnemi.image_url%>" style="visibility: hidden ">
            <input type="text" name="synopsis" value="<%=genreAnemi.synopsis%>" style="visibility: hidden ">
            <input type="text" name="airing_start" value="<%=genreAnemi.airing_start%>" style="visibility: hidden ">
            <input type="text" name="type" value="<%=genreAnemi.type%>" style="visibility: hidden ">
            <input type="text" name="source" value="<%=genreAnemi.source%>" style="visibility: hidden ">
            <input type="text" name="producers" value="<%= genreAnemi.producers%>" style="visibility: hidden ">
            <input type="text" name="genres" value="<%=genreAnemi.genres%>" style="visibility: hidden ">
            <input type="text" name="id" value="<%=genreAnemi.id%>" style="visibility: hidden ">
            <input type="text" name="Jtitle" value="<%=genreAnemi.Jtitle%>" style="visibility: hidden ">
            <input type="text" name="from" value="<%=genreAnemi.from%>" style="visibility: hidden ">
            <input type="text" name="duration" value="<%=genreAnemi.duration%>" style="visibility: hidden ">
            <input type="text" name="studioName" value="<%=genreAnemi.studioName%>" style="visibility: hidden ">
            <input type="text" name="trail" value="<%= genreAnemi.trail%>" style="visibility: hidden ">
            <input type="text" name="episodes" value="<%= genreAnemi.episodes%>" style="visibility: hidden ">
            <input type="text" name="score " value="<%= genreAnemi.score%>" style="visibility: hidden ">
            <input type="text" name="to" value="<%= genreAnemi.to%>" style="visibility: hidden ">

            <button type="submit"> Add to Fav</button>
        </form>
        <h3>
         Title:   <%=val.title%>
        </h3>
        <img src="<%=val.image_url%>" alt="<%=val.title%>">
        <p> <span><b>description</b></span>
            <%=val.synopsis%>
        </p>
        <h4>Type:
            <%=val.type%>
        </h4>
        <h6>Start-date:
            <%=val.airing_start%>
        </h6>
        <h6>Source
            <%=val.source%>
        </h6>
        <h6> Number of episodes:
            <%=val.episodes%>
        </h6>
        <h6>Title in japanes:
            <%=val.Jtitle%>
        </h6>
        <h6> Starting date:
            <%=val.from%>
        </h6>
        <h6> End date:
            <%=val.to%>
        </h6>
        <h6>
            duration:
            <%=val.duration%>
        </h6>
        <h6>
            Studios` name:
            <%=val.studioName%>
        </h6>
        <h6>
        
            <iframe width="420" height="315" src=" <%=val.trail%>">
            </iframe>
        </h6>
        <h6>
            Genres:
            <%val.genres.forEach((data,i)=>{%>
                <span><%=data.name%></span>
                <%})%>
        </h6>
        <!-- <a href="/"><button>Details</button></a> -->
      
        <%})%>
</body>
</html>