<%- include('layout/head'); -%>
    <%- include( 'layout/header'); -%>


            <% bookResults.forEach(data=>{%>
                <div id="anime-info">
                    <div class="detail-anime-title">

                        <h2>
                            <%=data.title %>
                        </h2>
                    </div>

                    <div id="">
                        <div class="">
                            <img src="<%= data.image%>" alt="  <%= data.title %>">
                        </div>
                        <div id="">
                            <div class="">
                                <h6>
                                    <%= data.averageRating%>
                                </h6>
                            </div>
                            <div class="">
                                <h6>Start:
                                    <%= data.startDate%>
                                </h6>
                            </div>
                            <div class="">
                                <h6> <br> End:
                                    <%= data.endDate%>
                                </h6>
                            </div>
                            <h6>


                                <h6>
                                    <%= data.gener_old%>
                                </h6>
                                <h6>
                                    <%= data.subtype%>
                                </h6>
                                <h6>
                                    <%= data.status%>
                                </h6>
                                <h6>
                                    <%= data.episodeCount%>
                                </h6>

                                <h6>
                                    <%= data.episodeLength%>
                                </h6>
                                <div class="">
                                    <p>
                                        <%= data.synopsis.substring(0,300)%>
                                    </p>
                                </div>
                        </div>

                        <div class="">
                            <iframe width="420" height="315" src="https://www.youtube.com/embed/<%= data.youtubeVideoId%>">
	</iframe>
                        </div>
                        <%console.log(data.id,'asdsadasdasdsadasdasd')%>
                        <form action="/delete/<%=data.id%>?_method=delete" method="post">
                            <button type="submit">Delete</button>
                            </form>
                        <%})%>%>
                        





    <%- include('layout/preloader'); -%>

    <%- include('layout/footer'); -%>

