<%- include('layout/head'); -%>
    <%- include( 'layout/header'); -%>
<body>
    <section id="anime-details">
        <h3>FACTS & INFO</h3>
        <div class="mains-pargarph">
            <h1>Anime DETAILS</h1>
        </div>
        <div class="background">
<div class="anime-boxes">
    <%genreAnemi.forEach(val=>{%>
        <div class="anime-box-catagory">
        <div class="anime-image-catagory">
            <img src="<%=val.image_url%>" alt="<%=val.title%>">
        </div>
        <div class="anime-content">
            <div class="anime-catagory-title">
                <h6>
                   <b>Title:</b><%=val.title%>
                </h6>
            </div>
        <div class="anime-catagory-des">
            <p> <span><b>description:</b></span>
                <%=val.synopsis%>
            </p>
        </div>
       


       
        <h6>
            <%val.genres.forEach((data,i)=>{%>
                <span><%=data.name%></span>
                <%})%>
                
        </h6>
        
        <!-- <a href="/"><button>Details</button></a> -->
        <form action="/detail" method="POST">
            <input type="text" name="search" value="<%= val.id%>" style="visibility: hidden ">
            <br><button class="btnDetails" type="submit">more details</button></form>
        </div>
        <%})%>
        
    </div>
    </section>
</body>

</html>